<div class="navbar">
  {{navbar}}
</div>

<div class="container">

  <div class="row">
    <div class="col" align="center">


      <h2>Burgers you can Eat!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>
    <div class="col" align="center">
      <img src="assets/img/burger.png" alt="burger" style="width:200px;height:200px;">
      <h2>Eat Da Burger!</h2>
      <form class="form" id="burger-form">
        <div class="form-group">
          <input type="text" id="burgerInput" class="form-control mx-sm-3" aria-describedby="burger">
        <button type="submit" id="create-burger">Add Burger</button><br>
          <small id="burgerHelperText" class="text-muted">
            Enter a burger you want to eat. Click the "Submit" button.
          </small>
        </div>
      </form>


    </div>
    <div class="col" align="center">

      <h2>Burgers you've eaten!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>


    </div>
  </div>
</div>